{% extends "blog/base.html" %}
{% block content %}
    <h1>KCA University Communication Software.</h1>
    <h3> The objective of the system is to facilitate communication between lecturers and students. It will allow lecturers to directly send messages to their students, share notes, give assignments and CATs. Furth more, it will enable students to communicate with one another, thus enabling peer-to-peer communication, which is an excellent networking method.
The project also keeps in line with the institution's value of innovation "; To seek new ways of creating, sharing and applying knowledge, and continuous learning improvement." The system also gives the client a niche over its competitors to become the best University in the region
</h3>
{% endblock content %}
